/* You can add global styles to this file, and also import other style files */

@use "@angular/material" as mat;

@include mat.core();
@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.d-flex {
    display: flex;
}
.flex-column {
    flex-direction: column;
}
.justify-content-center {
    justify-content: center;
}

.align-items-center {
    align-items: center;
}
.spacing-small {
    gap:8px;
}
.p-small {
    padding: 8px;
}

.w-100{
    width: 100%;
}